.carousel {
  width:auto;
  height:auto;
} 
  
.carousel .carousel-control-prev-icon ,
.carousel .carousel-control-next-icon {
  height: 10rem !important;
  width: 10rem !important;
}

.carousel-img {
  max-height: 1200px;
  min-height: 360px;
  min-width: 360px;
  width: 100%;
}