#contact {
    font-size: 20px;
    margin: 20px auto;
}
 
.form-control{
  width: 800px;
}

.form-control .formInput,
input[type=name],
input[type=text], 
input[type=email], 
input[type=subject],
textarea.form-control {
    width: 50%;
    padding: 2px;
    margin: 10px auto !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 16px !important;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media(max-width: 770px){
  .form-control .formInput,
  input[type=name],
  input[type=text], 
  input[type=email], 
  input[type=subject],
  textarea.form-control{
    width: 90%;
  }
}